[submodule "external/crazyflie_firmware"]
	path = external/crazyflie_firmware
	url = https://github.com/BackpropTools/crazyflie_firmware.git
[submodule "external/rl_tools"]
	path = external/rl_tools
	url = https://github.com/rl-tools/rl-tools.git
